<ion-view view-title="Facts">
        <ion-content padding="true">

        <ion-list>
          <ion-toggle ng-model="s1" toggle-class="toggle-positive">Setting 1</ion-toggle>
          <ion-toggle ng-model="s2" toggle-class="toggle-positive">Setting 2</ion-toggle>
          <ion-toggle ng-model="s3" toggle-class="toggle-positive">Setting 3</ion-toggle>
          <ion-toggle ng-model="s4" toggle-class="toggle-positive">Setting 4</ion-toggle>
          <ion-toggle ng-model="s5" toggle-class="toggle-positive">Setting 5</ion-toggle>
         <ion-item href="#/sign-in">Sign Out</ion-item>
        </ion-list>
          

        </ion-content>
      </ion-view>