<ion-view>
	<div class="emailbg blur"></div>
	<ion-content>
		  <input type="image" id="takeProfilePic" src="http://images.clipartpanda.com/dog-paw-clipart-LTKdnyGGc.png" class="imageicon" ng-click="takeProfilePic()"/>
		  <p class="centered userPhotoDesc">Let's get a mugshot of that pretty face! 
		  <br>
		  Click on the paw.</p>

		  <div class="padding">
		   <button class="button button-block button-royal rounded" ng-click="afterPic()" ng-show="showNext">
        Next
      </button>
      </div>
	</ion-content>	
</ion-view>